@{
    ViewData["Title"] = "Sale Management";
}

<div class="text-center">
    <h1 class="display-4">Sale Management</h1>
    <p>It's build on .Net Core MVC using Entity Framework and deployed on Azure App Services</p>

    <p><b>Developed By:</b> Zeeshan</p>
</div>
